{% comment %}
  Typography showcase section - displays all heading levels and text elements
{% endcomment %}

<div class="hello-world">
  <div class="shopify-section">
    <div class="hello-world__content">
      <h1>Heading 1 - The Main Title</h1>
      <h2>Heading 2 - Secondary Title</h2>
      <h3>Heading 3 - Tertiary Title</h3>
      <h4>Heading 4 - Fourth Level Heading</h4>
      <h5>Heading 5 - Fifth Level Heading</h5>
      <h6>Heading 6 - Sixth Level Heading</h6>

      <p>
        Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit <a href="#">aspernatur aut odit aut fugit</a>, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
      </p>

      <h3>Unordered List</h3>
      <ul>
        <li>First item in the unordered list</li>
        <li>Second item with some additional text to see how it wraps</li>
        <li>Third item in the list</li>
        <li>Fourth item with more content to demonstrate line height and spacing</li>
        <li>Fifth and final item in the unordered list</li>
      </ul>

      <h3>Ordered List</h3>
      <ol>
        <li>First numbered item in the ordered list</li>
        <li>Second item with some additional text to see how it wraps</li>
        <li>Third item in the list</li>
        <li>Fourth item with more content to demonstrate line height and spacing</li>
        <li>Fifth and final item in the ordered list</li>
      </ol>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hello World",
  "settings": [],
  "presets": [
    {
      "name": "Hello World"
    }
  ]
}
{% endschema %}
